.parent-doge {
  width: 100px;
  height: auto;
  margin-top: 40px;
}

.hat {
  width: 100px;
  height: auto;
  position: absolute;
  margin-top: -20px;
}

.child-hat {
  width: 100px;
  height: auto;
  position: absolute;
  margin-top: 20px;
}

.nft-parents-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.child-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
