// core brand colors:
$primary: #e93689;
$primary-dark: #7c1445;
$secondary: #808080;

$site-bg: #1b1b1b;

// greys
$grey000: #ffffff;
$grey100: #e2e2e2;
$grey200: #cbcbcb;
$grey300: #afafaf;
$grey400: #757575;
$grey500: #545454;
$grey600: #2b2b2b;
$grey700: #333333;
$grey700: #1f1f1f;
$grey800: #141414;
$grey900: #000000;
