// main typography
@import "./colors.scss"; // headers

.header1 {
  font-size: 32px;
  font-weight: 700;
  color: $grey000;
  margin-bottom: 12px;
}

.header2 {
  font-size: 26px;
  font-weight: 700;
  color: $grey000;
  margin-bottom: 12px;
}

.header3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
  color: $grey000;
}

// body
.body1 {
  font-size: 14px;
  color: $grey000;
  line-height: 150%;
}

.body2 {
  font-size: 17px;
  color: $grey000;
  line-height: 150%;
}

.caption {
  color: $grey400;
}
