@import "../../common/styles/colors.scss";

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
  background-color: $grey700;
  margin: 32px 32px 0px 32px;
  border-radius: 12px;
}
