@import "../../common/styles/colors.scss";

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 24px;
  background-color: $grey700;
  align-items: center;
  min-height: 60px;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navlink {
  margin-right: 24px;
}

.address-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
